doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Spaces Rule!

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Spaces Rule!

      section
        h1 Tabs Drool!

      section
        img(src="images/computers-spacebar-small-32660.jpg")

      section
        h1 No.

      section
        h1    

      section
        h1.show-spaces ....

      section
        h2 Or
        h1.show-spaces ..

      section
        h2 Well really just
        h1.show-spaces .

      section
        h2.bullet Tab people will say
        h3.bullet Indentation is flexible

      section
        img(src="images/indentation-whacky.gif")

      section
        img(src="images/bad-whitespace.PNG")

      section
        blockquote.bullet
          p
            em Tabs are 8 characters, and thus indentations are also 8 characters.
          p
            a(href="https://www.kernel.org/doc/Documentation/CodingStyle") www.kernel.org/doc/Documentation/CodingStyle

      section
        img(src="images/dafq.jpg")

      section
        h2 I'm all for flexibility

      section
        img(src="images/flex.jpg")

      section
        img(src="images/robots-in-a-line.jpg")

      section
        h2 So I found some random
        h2 code on the intertubes

      section
        img(src="images/spaces-in-the-wild.PNG")

      section
        img(src="images/whaa.PNG")

      section
        img(src="images/whaaat-o.gif")

      section
        h2.bullet My "learned" friend
        h3.bullet is a spaces man

      section
        h2.bullet Remember folks
        h2.bullet
          span Keep your
          span.show-spaces &nbsp;.

      section
        h1.bullet Leave the tab
        h1.bullet behind the bar

      section
        h1 Thank You
        h1 @slace ~= space

    script(src='build/build.js')